[2018-01-30 17:48] yeekangc opened #3 "Review Comments for 1/30's Draft"
- What you'll learn:
  - After the introductory sentence, we should explain what is MP Health;
  - Then, we can talk about the UP or DOWN details, what we have in the guide, and what the users will work with. [fixed, @evelinec]

- These can go or need to be rewritten -- MP Health doesn't exactly do these:
  - "The great benefit from adding a health check is that it helps in machine to machine [not

[2018-01-30 22:31] Ahmad-Ayyoub commented on #3
Fixed here: https://github.com/OpenLiberty/draft-guide-microprofile-health/pull/4.
Still not done with what you will learn section

[2018-02-05 15:56] #3 closed

[2018-02-08 16:57] gkertaseferi opened #5 "User Review"
1.What you'll learn
Before the service reports its states, it should check what it needs or has. --> what it needs or has?
    - Maybe there is a better way of saying this.

2.Adding health check to inventory service
    - This service reports its healthy state depending on these two self checks: (I don't really understand
       what the self checks are).
    - This property is used this file to

[2018-02-08 22:27] Ahmad-Ayyoub commented on #5
Updated here: https://github.com/OpenLiberty/draft-guide-microprofile-health/pull/6

[2018-02-09 17:54] rlcundiff opened #7 "What you'll learn - review comments"
"knowing which services are performing in the application."  -> Health checks aren't for knowing which services are in an app.  Maybe this was meant to be "knowing how services are performing in the application."  In any case, I think that whole sentence would be better as "The great benefit from adding a health check is that it allows your service to participate in the decision making process abo

[2018-02-09 19:14] #5 closed

[2018-02-09 21:57] Ahmad-Ayyoub commented on #7
Fixed here: https://github.com/OpenLiberty/draft-guide-microprofile-health/pull/8
@rlcundiff Just look at the adoc only. Thanks for your review.

[2018-02-12 16:09] #7 closed

[2018-02-14 11:38] gkertaseferi opened #9 "User Review"
1. Adding health check to inventory service
`Now, open inventory service from /start/src/main/java/io/openliberty/guides/inventory/InventoryResource to add a condition to it.`
I don't know if this is something you need to say or you just forgot to delete it from `/start/src/main/java/io/openliberty/guides/inventory/InventoryResource`. Right now it's the same for both start and finish so I can't ad

[2018-02-14 18:33] Ahmad-Ayyoub commented on #9
Fixed here: https://github.com/OpenLiberty/draft-guide-microprofile-health/commit/7edb330b1d8ee6ad3dc915773ff3b96cb74e4ce5

[2018-02-14 18:33] #9 closed

[2018-02-15 14:01] gkertaseferi opened #10 "Peer/User Review"
What you’ll learn

- [ ] Before the service reports its state, it should check what it has to be available. Depending on what the service has or what is provided to it, it can report whether it is healthy or not via the Microprofile Health API implementation. A self check can be anything related to the service. It could be a dependency, a successful connection to an endpoint, a system property and

[2018-02-15 16:26] gkertaseferi commented on #10
Also, we decided to have  provided the dependency provided in the pom.xml and just describe it.

[2018-02-15 16:38] Ahmad-Ayyoub commented on #10
Here: https://github.com/OpenLiberty/draft-guide-microprofile-health/commit/e9a302d63ea0f4434d6dd5ac600186de4ae91faa

[2018-02-15 18:13] #10 closed

[2018-02-15 21:36] evelinec opened #11 "User review"
Anna Safonov [4:32 PM Here are the issues that I found:

- [x] The property `io.openliberty.guides.microprofile.inventory.inMaintenance": false` is not at `/start/CustomConfigSource.json`. It’s actually in resources/META-INF/service/microprofile-config.properties. The guide is a bit confusing because it says to look for it in a file that is first of all not directly in start, as suggested by `/sta

[2018-02-15 22:13] evelinec opened #12 "Test failed with latest OL"
Steps to reproduce the failure:

1. Change finish/pom.xml to use the "LATEST" version of OL release:
`<artifactId>openliberty-runtime</artifactId>`
            `<version>17.0.0.3</version>`
=>
`<artifactId>openliberty-runtime</artifactId>`
            `<version>LATEST</version>`

1. Run "mvn clean install" to launch the test cases for this application.

1. You will see the test case failure.

The

[2018-02-15 22:19] evelinec opened #13 "Need to resolve large repo size issue"

[2018-02-15 23:00] evelinec commented on #11
I also tested the guide. With the above checked changes. The guide is working.

[2018-02-16 15:26] #11 closed

[2018-02-20 19:33] JunyiSun opened #15 "EndpointTest Clean up"
extra print statement:
System.out.println(obj.getJsonArray("systems").getJsonObject(0)
.get("hostname").toString());

[2018-02-20 20:59] evelinec commented on #12
@gkertaseferi can you pls push the fix into your fork/branch and then create a PR to master? Thanks.

[2018-02-20 21:25] Ahmad-Ayyoub opened #16 "Code Cleanup"
Clean up SystemResource class to match mp-health guide

[2018-02-20 21:26] evelinec commented on #16
@Ahmad-Ayyoub Clean up to get rid off the extra mp-config content in the code.

[2018-02-21 16:40] Ahmad-Ayyoub commented on #16
Fixed here: https://github.com/Ahmad-Ayyoub/draft-guide-microprofile-health/commit/bfa2347f728d36e89f0c5105e0bf199dfe9e7a05

[2018-02-21 18:13] #16 closed

[2018-02-21 21:04] Ahmad-Ayyoub commented on #13
fixed here: https://github.com/Ahmad-Ayyoub/draft-guide-microprofile-health

[2018-02-22 01:56] gcharters opened #19 "Health code needs to handle service being down"
If the other service can't be connected to (rather than just returning http error), then an exception will be thrown that needs to be handled.

The Health code needs to do something like this:

    try {
      String url = SystemClient.buildUrl("http", "localhost", config.getPortNumber(), "/system/properties");
      Client client = ClientBuilder.newClient();
      Response response = client.targe

[2018-02-22 20:10] Ahmad-Ayyoub commented on #15
Here : https://github.com/OpenLiberty/draft-guide-microprofile-health/pull/20

[2018-02-22 20:10] #15 closed

[2018-02-22 20:10] Ahmad-Ayyoub commented on #12
Fixed here: https://github.com/OpenLiberty/draft-guide-microprofile-health/pull/17

[2018-02-22 20:10] #12 closed

[2018-02-22 20:16] Ahmad-Ayyoub commented on #19
Fixed here: https://github.com/OpenLiberty/draft-guide-microprofile-health/pull/20/commits/ac823b7835ca30d9b6d6fd1751ff309739ff3713

[2018-02-22 20:16] #19 closed

[2018-02-22 20:18] Ahmad-Ayyoub commented on #13
I can not PR to master, I was wondering if I can reduce the master size directly rather.

[2018-02-23 10:18] lauracowen opened #21 "Need example of output"
The guide needs to include an example of the output that you get and (briefly) explain what it shows. I tried adding health to my app and I didn't have the scoping annotation in quite the right place so it was showing me only the app's health and not the service's health. We spent ages trying to work out what it *should* show (as it didn't look right but we weren't sure what was missing).

[2018-02-23 10:36] lauracowen opened #22 "Review consistency of server.xml with other guides"
The war file name and specification of the context root in the `server.xml` is different for the MP guides than for, say, the REST intro guide (which specifies the context root in the `pom.xml`, not the `server.xml`, and has a simple war file name).

Was there a specific reason for doing it differently or do these need to be updated to be consistent with other guides? (and do other guides need to

[2018-02-23 20:25] Ahmad-Ayyoub commented on #22
Fixed here: https://github.com/OpenLiberty/draft-guide-microprofile-health/pull/23

[2018-02-23 20:25] Ahmad-Ayyoub commented on #21
Fixed here: https://github.com/OpenLiberty/draft-guide-microprofile-health/pull/23

[2018-02-26 20:49] #21 closed

[2018-02-26 20:50] #22 closed

[2018-02-26 21:59] evelinec opened #25 "Review on 2/26's draft"
- [x] The :page-description: field in the adoc needs to have the proper description for this guide. So that it can show up in the card.

- [x] The tags on this guide aren't being handled correctly. There's [] around the tags.

- [x] Related guides need to be added.

- [x] The health result field, "data": {} shows up empty. Is this a default result, and why is it empty?

[2018-02-26 22:00] Ahmad-Ayyoub commented on #13
Fixeed

[2018-02-26 22:00] #13 closed

[2018-02-27 19:56] Ahmad-Ayyoub commented on #25
Fixed here: https://github.com/OpenLiberty/draft-guide-microprofile-health/pull/26

[2018-02-27 20:10] evelinec commented on #25
More feedback:

- [ ] Use the health check to assess the state of a service in an application. => You will use the health check to assess the state of a service in an application. (Not sure someone suggested this or something, but we don't start a sentence with a verb, right?)

[2018-02-27 20:13] Ahmad-Ayyoub commented on #25
I think @sishida suggested using a verb . I will change that.

[2018-02-27 20:24] sishida commented on #25
@evelinec: Either one is grammatically correct. So feel free to use whichever. :)

[2018-02-27 21:00] evelinec commented on #25
More feedback:

- [ ] About the two endpoints listed in the "What you'll learn" section:

- The http://localhost:9080/system/properties microservice retrieves the information for a specific host.

- The http://localhost:9080/inventory/systems microservice retrieves the information for a list of all previously registered hosts.

=> I think these are not needed, as the "new structure for guides" is

[2018-02-28 19:49] Ahmad-Ayyoub commented on #25
Resolved here: https://github.com/OpenLiberty/draft-guide-microprofile-health/pull/27

[2018-03-02 20:51] evelinec commented on #25
Closed

[2018-03-02 20:51] #25 closed

[2018-03-06 16:43] yeekangc opened #29 "Bad links and terms"
- Rephrase to use "services" or "microservices" instead of "RESTful application" or "RESTful service" to be consistent with the other guides and the title/abstract.  "Application" is still alright to be used depending on context.

_You will learn how to use the MicroProfile Health feature to report the health of a RESTful application. A health check allows your RESTful service to participate in th

[2018-03-06 20:32] Ahmad-Ayyoub commented on #29
Resolved here: https://github.com/OpenLiberty/draft-guide-microprofile-health/pull/28/commits/5e3380f76ad29a732ba39892390be3d0ec781f49

[2018-03-08 17:45] evelinec opened #30 "Edit CDI guide title in this guide"
Ref: https://ibm.ent.box.com/file/281716465645

[2018-03-08 18:13] Ahmad-Ayyoub commented on #29
@evelinec can you please close this ?

[2018-03-08 19:12] evelinec opened #31 "Review on 3/8's draft"
- [x] You will learn how to use the MicroProfile Health feature => get rid off the word "feature".

- [x] The MicroProfile Health feature => MicroProfile Health

- [x] The flow of the intro can still be rework.. (thinking) @evelinec (any ideas ?)

- [x] The following section:
You can access two microservices to test their availability. The http://localhost:9080/inventory/systems/localhost microser

[2018-03-08 19:43] evelinec commented on #31
- [ ] The convention to create file is like:
Create health check class for the `system` service in the  src/main/java/io/openliberty/guides/system/SystemHealth.java file:
=> make the change for all create files

[2018-03-08 19:45] evelinec commented on #31
- [ ] In general, the imports in the code can be merged together, no space in between:
import javax.enterprise.context.ApplicationScoped;

import org.eclipse.microprofile.health.Health;
import org.eclipse.microprofile.health.HealthCheck;
import org.eclipse.microprofile.health.HealthCheckResponse;

[2018-03-08 19:46] evelinec commented on #31
- [ ] The @Health annotation indicates that this class is read to report the state => what does "read" mean here?

[2018-03-08 19:52] evelinec commented on #31
- [ ] This class implements the HealthCheck interface. Use the interface to override the call() method. => This sounds bit odd, may be this: "This class implements the HealthCheck interface from MicroProfile Health API (?pls confirm). The implementation overrides the call() method."

[2018-03-08 19:59] evelinec commented on #31
- [ ] Lastly, pass the system service name as an argument to the named() method to indicate the service that is reported. => I think this can written as: "Lastly, the named() from the interface needs to indicate the service to report the health, thus, passing the `system` service name as an argument."
@sishida can you help review this change? Thanks.

[2018-03-08 20:01] evelinec commented on #31
- [ ] Configure the provided property of type boolean, which is shown in the following code, in the resources/CustomConfigSource.json file. => repeated info here.. just "which is shown in the resources/CustomConfigSource.json file."?

[2018-03-08 20:03] evelinec commented on #31
- [ ] The title for the config guide linked here, is not right: To learn how to configure the file, see Configuring Microservices using MicroProfile Config.

[2018-03-08 20:11] evelinec commented on #31
- [ ] Make sure that the system service availability returns a 200 response code. You can add a health check to this service in a similar way to how you added one in the previous section.
=> "Make sure that the system service availability returns a 200 response code." to "Check that the system service availability returns a 200 response code." or "Ensure the system service is available by checking

[2018-03-08 20:12] evelinec commented on #31
- [ ] You can add a health check to this service in a similar way to how you added one in the previous section. => this sentence doesn't make sense to me.. I think you're referring to the named() method? If this is the case, then perhaps it's be separated from this bullet, as it's not part of the 2 factors/condition.

[2018-03-08 20:20] evelinec commented on #31
- [ ] I think this code in the InventoryHealth class has a potential problem: config.getPortNumber(). What if the config file has different port than what's in the pom/runtime and the config file doesn't have high enough ordinal to overwrite?

[2018-03-08 20:26] evelinec commented on #31
- [ ] This paragraph:
Use the @Inject annotation to initialize the InventoryConfig object. This object allows you to read the property in the CustomConfigSource.json file. Learn more about the @Inject annotation from Handling dependencies with RESTful web services.
=> Should have resource/ added for CustomConfigSource.json file
=> I'm actually not too sure it's really necessary to talk about the @

[2018-03-08 20:46] evelinec commented on #31
- [ ] The isHealthy() method returns a boolean that determines the health of the inventory service. This method checks the two previous conditions. The call() method uses the isHealthy() method as the condition. The state of the inventory service is UP if the isHealthy method returns true, but the state is DOWN if isHealthy returns false.
=> lots of isHealth() method in this paragraph, and 2 are m

[2018-03-08 20:50] evelinec commented on #31
- [ ] Clean up the import:
import java.util.Properties;

// CDI
import javax.enterprise.context.RequestScoped;
import javax.inject.Inject;
import javax.ws.rs.GET;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.core.MediaType;
import javax.ws.rs.core.Response;

No CDI comment or space is needed.

[2018-03-08 20:51] evelinec commented on #31
- [ ] Now, open the inventory service from the src/main/java/io/openliberty/guides/inventory/InventoryResource.java file:
=> should "open" be "create"?
=> change to "Now, create the inventory service in the `src/main/java/io/openliberty/guides/inventory/InventoryResource.java` file:"

[2018-03-08 20:59] sishida commented on #31
This class implements the HealthCheck interface. Use the interface to override the call() method. => This sounds bit odd, may be this: "This class implements the HealthCheck interface from **the** MicroProfile Health API (?pls confirm). The implementation overrides the call() method."
From a grammar point of view, either of  the above should be OK.

[2018-03-08 21:02] sishida commented on #31
"Make sure that the system service availability returns a 200 response code." to "Check that the system service availability returns a 200 response code." or "Ensure the system service is available by checking the response code is 200."

Of these options, I prefer "Check that the system service availability returns a 200 response code." or "Check to make sure that the system service availability r

[2018-03-08 21:07] sishida commented on #31
The isHealthy() method returns a boolean that determines the health of the inventory service. This method checks the two previous conditions. The call() method uses the isHealthy() method as the condition. The state of the inventory service is UP if the isHealthy method returns true, but the state is DOWN if isHealthy returns false.
=> lots of isHealth() method in this paragraph, and 2 are missing

[2018-03-08 21:17] evelinec commented on #31
Go with "Check that the system service availability returns a 200 response code."

[2018-03-08 21:17] Ahmad-Ayyoub commented on #31
@evelinec @sishida How about:

The `isHealthy()` method returns a boolean that determines the health of the `inventory` service.
This method checks the two previous conditions. The `call()` method uses this method as the condition. The state of the `inventory` service is `UP` if this method returns `true`, but the state is `DOWN` if it returns `false`.

[2018-03-08 21:27] evelinec commented on #31
- [ ] The service invokes the getPropertiesForHost() method to display the system properties for a host name. => seems incorrect? perhaps change "invokes" to "implements"? or just "The getPropertiesForHost() method displays the system properties.."

[2018-03-08 21:39] evelinec commented on #31
- [ ] The host name displays only if you set the io.openliberty.guides.microprofile.inventory.inMaintenance configuration to false. => doesn't make sense.. what does "The host name displays.." mean? The host name doesn't display anything..

[2018-03-08 21:50] evelinec commented on #31
- [ ] The host name displays only if you set the io.openliberty.guides.microprofile.inventory.inMaintenance configuration to false. Otherwise, the service responds with a Service is currently in maintenance. message and a 503 response code.
=> this doesn't seem correctly mapped to the code?

[2018-03-08 21:55] evelinec commented on #31
- [ ] To verify the states, point your browser to the http://localhost:9080/inventory/systems inventory service. => To verify the states, point your browser to the http://localhost:9080/inventory/systems inventory service URL.

[2018-03-08 21:56] evelinec commented on #31
- [ ] Write two test methods, => You will implement two test methods,

[2018-03-08 22:00] evelinec commented on #31
- [ ] A few test case methods include the @Test annotation on the test functionality of the inventory application after you add health checks. => "on the" suppose to be "to"?

[2018-03-08 22:24] evelinec commented on #31
- [ ] The testIfServicesAreUp() method sends a request to the http://localhost:9080/health URL. Next, the method verifies that the 200 response code is returned. Next, it calls the connectToHealthEndpoint() helper method to read the response as JsonArray, which contains the actual states of the two services. The JsonArray response is passed to the checkServicesStates() method, which compares and a

[2018-03-08 22:32] evelinec commented on #31
- [ ] The test result needs to be updated, with the additional of the InventoryEn.. and SystemEn.. tests.

[2018-03-08 22:44] evelinec commented on #29
@yeekangc can we close this one?

[2018-03-09 14:22] yeekangc commented on #29
"You’ll explore how to check the health of a microservice with MicroProfile Health."  -- This is inconsistent with the abstract i.e. page-description and it doesn't a key factor.  Consider "You'll explore how to report and check the health ..."

The CDI title still needs to be updated but I see we have a separate issue for that.

"Microservices" in "Configuring Microservices using MicroProfile Con

[2018-03-09 14:22] yeekangc commented on #29
We can close after the above has been addressed.

[2018-03-09 15:23] sishida commented on #31
@evelinec and @Ahmad-Ayyoub: Could I please review a pull request instead of the comments here, such as how we did for the metrics edits? https://github.com/OpenLiberty/draft-guide-microprofile-metrics/pull/23#event-1513338856
I haven't found a way to add replies directly under the comments. I think it'll get confusing trying to figure out what I'm referring back to if I add comments here.

[2018-03-11 21:58] evelinec opened #33 "Review on the 3/11's draft"
- [x] The microprofile-health-api dependency is located in the pom.xml file. With this dependency, you can use the MicroProfile Health API to provide health checks to your microservices.
=> could be combined to eliminated saying pom.xml twice, perhaps:
The microprofile-health-api dependency is added so you can use the MicroProfile Health API to provide health checks for your microservices. @Ahmad-

[2018-03-11 21:59] evelinec commented on #33
- [ ] The testIfServicesAreUp() test case sends a request to the http://localhost:9080/health URL through the connectToHealthEndpoint() method from the HealthTestUtil class.
=> extra backtick for the word "class"

[2018-03-11 22:08] evelinec commented on #33
- [ ] I think this two paragraph can combine together and then change a bit to better match the context in the previous paragraph:
This class implements the HealthCheck interface from MicroProfile Health API. The call() method from the interface is implemented to report the state of the service by returning a HealthCheckResponse object.
The system service self-checks. It reads the system property

[2018-03-12 17:04] Ahmad-Ayyoub commented on #29
Here: https://github.com/OpenLiberty/draft-guide-microprofile-health/pull/34/commits/f7d2fb9260ba0f96ab09c89ad327c0509e204b1a

[2018-03-13 03:50] evelinec commented on #30
Fixed in previous PR. Closed.

[2018-03-13 03:50] #30 closed

[2018-03-13 04:13] evelinec commented on #31
@sishida ^ sure. yeah, I found it difficult as well. But we still need to work with feedback in issues. I have requested my team to edit a text box and add comments below it, tagging the user who needs to take action if any, and add an obvious symbol like [], =>, etc or make it bold text.

[2018-03-13 04:34] evelinec commented on #31
- [ ] Regarding the intro, I'm not too sure about the 2nd and 3rd paragraphs talking much about the `UP` and `DOWN`s. Looks like the 3rd can be shorten and then go before the 2nd. Here's my attempt to try fixing it:
You will use the health check to assess the state of a service in an application. An UP state indicates the service is available, and an DOWN state indicate the service is either unava

[2018-03-13 16:35] yeekangc commented on #29
Closing for now.  Will reopen or file new issue if necessary.

[2018-03-13 16:35] #29 closed

[2018-03-13 16:41] gkertaseferi opened #35 "Review on 3/13's draft"
Adding a health check to the inventory service

[] Otherwise, if the property is set to true, the service responds with a ERROR:
   ->
   Otherwise, if the property is set to true, the service responds with an ERROR:
**[This was reviewed by an ID, I think it is a not an, @sishida @evelinec (read full sentence), the ERROR is in a string referring to a message]**

[] While the server is running, nav

[2018-03-13 18:34] evelinec commented on #35
I thought I made a comment to fix the first point mentioned here.. is that not fixed?

[2018-03-13 18:34] evelinec commented on #35
The 2nd point about URL is fine.

[2018-03-13 18:49] Ahmad-Ayyoub commented on #35
OK I deleted that message now.

[2018-03-13 19:06] #33 closed

[2018-03-13 19:07] #31 closed

[2018-03-13 19:10] evelinec commented on #35
About the 2nd point, actually we can get rid of the bullet point for the URL.

[2018-03-13 19:40] Ahmad-Ayyoub commented on #35
Fixed to:
While the server is running, navigate to the `http://localhost:9080/health` URL to find the
the states of the two services.

[2018-03-13 19:41] Ahmad-Ayyoub commented on #35
https://github.com/OpenLiberty/draft-guide-microprofile-health/pull/36/commits/fc5724c8844f75acf298c674e6925ed01b95bddf

[2018-03-13 19:45] evelinec commented on #35
Addressed all issues.

[2018-03-13 19:45] #35 closed

[2018-03-13 20:45] evelinec opened #37 "Review on 3/13's draft"
- [x] Learn more about the @Inject annotation from Injecting dependencies into microservices. => I really think this is not needed, as you had the @ApplicationScoped in the sections above this, and you didn't mention the related guide. You can remove this one.

- [x] These two paragraphs can be combined:

The getPropertiesForHost() method displays the system properties for a host name only if you

[2018-03-14 17:36] Ahmad-Ayyoub commented on #37
Fixed here: https://github.com/OpenLiberty/draft-guide-microprofile-health/pull/38/files

[2018-03-15 16:03] evelinec commented on #37
These issues were addressed.

[2018-03-15 16:03] #37 closed

[2018-03-16 17:42] yeekangc opened #40 "Suggestions"
- Can take another pass with a fresh critical pair of eyes to review and edit the guide and the provided implementation to tidy things up and make things clearer

- Data returned by the HealthCheckResponses can be improved to have better names and descriptions especially if we will show a sample response of the `/health` endpoint

- A better exercise for users to experiment with the provided autom

[2018-03-16 17:52] JunyiSun opened #41 "Health: Final Test Review"
- Highlights in the nav bar look a bit weird?  **[Fixed]**

- "The system and inventory services can be found at the following URLs: - http://localhost:9080/system/properties - http://localhost:9080/inventory/systems"
The layout here is incorrect, we need to use new line for each URL **[fixed]**

- What is the data property here? Why for InventoryResource it's called `services`, and for SystemReso

[2018-03-16 18:25] yeekangc commented on #41
@JunyiSun, are you sure you looked at the latest in master?  The test site might not have been refreshed.  Please double check with @evelinec and @Kubik42.

[2018-03-16 18:26] yeekangc commented on #41
We have issue with the portion where we are asking users to make the tests fail.  It can be dropped for now and be looked at later.

[2018-03-16 18:28] JunyiSun commented on #41
@yeekangc double checked, those issues still existed in the latest master branch.

[2018-03-16 18:30] yeekangc commented on #41
Thanks.  @Kubik42 can take a look.

I am pretty sure we have dropped the sample `/health` response from the guide.

[2018-03-16 18:32] JunyiSun commented on #41
@yeekangc What sample /health response are you referring to btw?

[2018-03-16 18:35] JunyiSun commented on #41
@yeekangc oh, if you are referring to the data response, then I am pretty sure it has not been dropped in the current master branch yet.

[2018-03-16 18:37] evelinec commented on #41
@lauracowen requested we add the sample output in the guide.

[2018-03-16 18:38] yeekangc commented on #41
@JunyiSun:

[code]

[2018-03-16 18:47] JunyiSun commented on #40
One more suggestion, should those extra config stuff in the health code been cleaned up? I remember those files were asked to be removed before INDEX. But it’s okay at this moment, not critical and we can think about it later

[2018-03-16 18:49] yeekangc commented on #41
@JunyiSun, please call out clearly what @Ahmad-Ayyoub should address now.  The rest can go into #40.

At best, only item 1, 2, 4, 5, 6, 7 by my count.

[2018-03-19 14:45] evelinec commented on #40
Assign to @JunyiSun to work on the suggested areas.

[2018-03-20 17:37] Ahmad-Ayyoub commented on #41
-Ok so we will add the output after we address it out. @evelinec any suggestions on what do to for the data property?

- You are missing the paragraph after the testing result, which stating what you can do to make the tests fail **[What are we deciding on this?]**

[2018-03-20 18:17] yeekangc commented on #41
Any suggestion or thought regarding these, @Ahmad-Ayyoub?  Thanks.

[2018-03-20 20:26] Ahmad-Ayyoub commented on #41
For Data Property: Previously it was empty. But when @lauracowen suggested to add the output, @evelinec suggested to add something in the data field (which what we have now). My suggestion is to just take it off since there is no actual useful info to display for now.

For these tests, we can say:
To test your knowledge of the guide, try to change the "logic" of or some "info" from the application

[2018-03-20 20:32] yeekangc commented on #41
Thank you, @Ahmad-Ayyoub.

We currently do not show the health response in the guide.  The response can be included if done right.  At least, the names and values can be made more meaningful.  Similarly, the sample response can be better described than what was there.

The paragraph on the tests was removed intentionally IIRC since it didn't add to the guide.  If we shall put it back, it needs to

[2018-03-20 20:49] Ahmad-Ayyoub commented on #41
So what about this:

[code]

[2018-03-21 13:40] lauracowen commented on #41
I've not followed this whole conversation or thread of changes but here's the reason I asked about output...

I added health check to an app and I had something in the wrong place in the code so it wasn't working (I can't remember what exactly). When the app ran I got only

[code]

(or something like that - I can't remember exactly). So I could see that healthcheck was telling me something and I c

[2018-03-21 14:14] yeekangc commented on #41
@lauracowen, thank you.

No issue for a sample to be included.  Just need to work out what should be in and how to best present it.

[2018-03-21 14:59] Ahmad-Ayyoub commented on #41
The team discussed and we agreed on the second option with explaining why we left the data field empty.

[2018-03-21 15:25] yeekangc commented on #41
That's the minimum.

Including data is fine provided that we do better than what we have.  Good to have it if we can do it.

[2018-03-21 15:59] evelinec commented on #41
@Ahmad-Ayyoub we don't need to explain why we left the data field empty, but what are they and perhaps how they can be used, in a short sentence or two.

FYI, as we discussed during scrum today, and after looking into this field closely. It can actually have functionality. Since our guide is not making use of the data field, we'd definitely leave it empty. Add an explanation in the guide is good.

[2018-03-21 16:07] yeekangc commented on #41
#40 made a note of this too.  @Ahmad-Ayyoub @JunyiSun, you folks can discuss further and come back with a proposal.

[2018-03-28 18:27] evelinec commented on #40
Perhaps this point hasn't been addressed? Don't see it anywhere.

- A better exercise for users to experiment with the provided automated tests

[2018-03-28 18:41] JunyiSun commented on #40
@evelinec Isn't the automated test something that we will work in the future under guides-common?

[2018-04-02 15:56] evelinec commented on #40
@JunyiSun No, that's not related to this. We had discussed this during scrum, pls update with your latest finding. Thanks.

[2018-04-03 15:26] JunyiSun commented on #40
fixed by #44 #42 #45

[2018-04-19 15:58] mbroz2 opened #46 "Remove REST tag from guide"
Although the sample uses REST, the guide itself doesn't teach the user anything about it so we should not tag it as such.

[2018-05-11 18:17] JunyiSun opened #47 "Navigation issue"
Get rid of "Now, navigate back to the start directory to begin." under "Try what you'll build" section.

Move the sentence with this context "navigate to the start directory" to the section where user starts working with the implementation.

[2018-05-23 21:10] #47 closed

[2018-06-05 19:11] #46 closed

[2018-06-25 14:41] yeekangc opened #58 "Hard to understand paragraph"
_This time, you are checking whether or not the service is in maintenance or if it’s down. For simplicity, a custom io_openliberty_guides_inventory_inMaintenance MicroProfile Config property defined in the resources/CustomConfigSource.json file is used to indicate whether the service is in maintenance or not. This file has already been created for you. To check if the service is down, simply make

[2018-08-31 14:33] #41 closed

[2018-12-04 16:48] kathrynkodama opened #68 "Difference in inventoryHealth.java on guide vs finish directory"
I was working through the MicroProfile Health Guide: https://openliberty.io/guides/microprofile-health.html

When it comes to implementing inventoryHealth.java the file on the website is different from the file in the finish directory.  This fails "mvn install".

/finish directory:
 `String url = InventoryUtils.buildUrl("http", "localhost",
          Integer.parseInt(System.getProperty("default.ht

[2019-01-07 18:48] justineechen opened #69 "Multipane Issue"
### Checklist for Post-Review
**Through the browser:**
- [x] Read through guide, making sure that the flow of the guide is good
- [x] Click all links to make sure they lead to the correct place
- [x] Make sure hotspots, code_commands and files are correct
- [x] Run Acrolinx
----------
### Issues
- [ ] Maybe you can address this while converting: https://github.com/OpenLiberty/guide-microprofile-he

[2019-01-08 16:13] andrewdes commented on #69
2nd Round Review:
- [ ] guide author
- [x] branch is up to date with master
- [ ] mvn insturctions

[code]
- [ ] if there is a clean comment, let consider or discuss it
- [ ] make sure liberty:stop-server
- [ ] update the version of cxf-rt-rs-client and cxf-rt-rs-extension-providers to 3.2.6

[2019-02-13 18:45] gkwan-ibm opened #72 "multipane issues"
- [x] URLs do not open in new tab
- [x] should format the server.xml
`  <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>`
- [x] "Create the SystemHealth class", "Create the InventoryHealth class.", "Create the HealthTest class."  highlighted the code

[2019-02-13 19:48] justineechen commented on #72
https://github.com/OpenLiberty/guide-microprofile-health/commit/ab1f10960180682fe87a8e79eb28e1220603fedf

[2019-02-14 18:39] #72 closed

[2019-03-11 15:37] #69 closed

[2019-05-31 19:43] susanodom opened #79 "Syntax Errror seen with last paragraph "Building and running the application""
With the MP Health docs guide, I got “**SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data**” (in JSON tab) with last paragraph of "Building and running the application", see below:

“…Point to the http://localhost:9080/inventory/systems URL to verify that the inventory service is indeed in maintenance. Set the io_openliberty_guides_inventory_inMaintenance property b

[2019-05-31 19:45] yeekangc commented on #79
Susan was working with Firefox.

[2019-06-03 14:03] justineechen commented on #79
Hi @susanodom, thank you for letting us know about this issue.
It looks like the application is expecting a JSON but the error message is in plain text. I will work on this fix now.

[2019-06-12 18:26] #79 closed

[2019-06-13 13:34] aguibert opened #82 "Only 1 JAX-RS application should be used per application"
Currently this guide uses two different JAX-RS Applications, with different endpoints:

[code]
and
[code]

Having 2 JAX-RS applications is not really defined by the JAX-RS spec, and we should not be demonstrating this pattern in one of our guides.

It also gives a confusing behavior because _all_ resources are available under both application endpoints. Namely `InventoryResource` is bound to *both

[2019-06-13 14:07] scottkurz commented on #82
I can imagine maybe why this shortcut was taken:  since this app is overloaded and used in multiple guides.

At least one, [JWT](https://openliberty.io/guides/microprofile-jwt.html) does use a separate front-end and back-end server for each service and also drags in the complexity of a multi-module Maven build.

But agree, it can be confusing to realize how these paths are oddly-proliferating like

[2019-06-17 14:00] aguibert commented on #82
I don't think we should be optimizing for what is easiest to maintain via code re-use. Rather, we should be doing whatever makes the most sense for the guide.

In this case, both JAX-RS "applications" are deployed in a single .war file on the same server, so there is no need for a front-end/back-end or multi-module app IMO.

I would recommend having 1 JAX-RS Application with `@ApplicationPath("/")

[2019-06-17 14:08] yeekangc commented on #82
I was thinking about what you suggested, Andy, as an option too.  Should still make a note of 1 JAX-RS Application per application and that system and inventory are conceptually separate and can be in 2 separate apps.

[2019-06-17 19:48] jim-krueger commented on #82
The problem is if you want 2 separate apps you must either package each separately or add the getClasses() method to each application class specifying the classes involved in each application.   We talked about this and consider this to be a relatively ugly solution.   Therefore I agree with Andy that this should be reduced to 1 JAX-RS application.  Perhaps "system" and "inventory" should be added

[2020-03-30 15:49] Emily-Jiang opened #108 "Use MicroProfile Health new API in MP 3.3"
@ApplicationScoped
public class SystemReadinessCheck implements HealthCheck {
  @Override
  public HealthCheckResponse call() {
    if (!System.getProperty("wlp.server.name").equals("defaultServer")) {
      _return HealthCheckResponse.named(SystemResource.class.getSimpleName() + "Readiness")
                                .withData("default server", "not available").down()

[2020-04-14 15:08] gkwan-ibm commented on #108
- ready for dev content review

[2020-04-14 16:43] gkwan-ibm commented on #108
- [ ] guide-getting-started
- [ ] guide-kubernetes-microprofile-health
- [ ] guide-microprofile-health

[2020-04-14 17:03] DannyS03 commented on #108
Hi @Emily-Jiang, would you mind reviewing the code change.
- https://github.com/OpenLiberty/guide-microprofile-health/pull/111
- https://github.com/OpenLiberty/guide-microprofile-health/tree/mphealth-2.2

[2020-04-21 14:37] ankitagrawa commented on #108
- Ran into an issue while updating it to the next version. Waiting for Emily's reply.

[2020-05-01 20:06] #108 closed

[2020-05-05 17:53] NimG98 opened #114 "No reference of HealthCheckResponse.builder in file"
In the [Adding health checks to the system service](https://openliberty.io/guides/microprofile-health.html#adding-health-checks-to-the-system-service) section, it has the following:

![image](https://user-images.githubusercontent.com/46586499/81098700-be4c3680-8ed7-11ea-995a-4c9020d51c4e.png)

However, the hotspot `HealthCheckResponse.builder()` points to nothing and the `HealthCheckResponse.build

[2020-05-13 15:29] gkwan-ibm commented on #114
https://github.com/OpenLiberty/guide-microprofile-health/pull/117

[2020-05-14 14:40] DannyS03 commented on #114
Merged and verified.

[2020-05-14 14:40] #114 closed

[2020-06-19 21:28] gkwan-ibm commented on #40
Close this issue.
Assumed issues were fixed. The guide was updated for dev mode and mpHealth-2.2

[2020-06-19 21:28] #40 closed

[2020-11-25 12:09] Emily-Jiang opened #134 "Update to use Health 3.0"

[2020-12-03 15:20] pgunapal commented on #134
NEW changes in mpHealth-3.0:

- The `HealthCheckResponseBuilder.state(Boolean UP)` method was also renamed to `HealthCheckResponseBuilder.status(Boolean UP)` for HealthCheckResponse deserialization compatibility, where the JSON health check response string can now be deserialized into an HealthCheckResponse object.
- The deprecated `@Health` qualifier was removed, and users should use the `@Livene

[2021-04-01 20:41] gkwan-ibm commented on #58
close
- the paragraph was rewritten

[2021-04-01 20:41] #58 closed

[2021-06-01 19:49] gkwan-ibm commented on #134
close
- the [guide](https://openliberty.io/guides/microprofile-health.html) was updated

[2021-06-01 19:49] #134 closed